body .fondo{
    background: #979A9A;
}
.formulario{
   width: 50%;
   margin: auto;
   display: flex;
  flex-direction: column;

  margin-top: 100px;
 
}
.formulario div{
   background: black;
   color :white;
   padding: 18px;
   letter-spacing: 2px;
 
}
.formulario form{
  
   display: flex;
   justify-content: center;
   background: #252525;
   padding: 20px;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius:0 0 10px 10px;
   

}
.formulario button{
   margin-left: 20px;
   width: 100px;
   border-radius: 10px ;
   padding: 10px;
   
}
.verde{
 background:  #2ECC71 ;
 color:white;
 cursor: pointer;
 
}
.red{
 background: #E74C3C;
 color:white;
 cursor: pointer;
}
.azul{
 background: #3498DB ;
 color:white;
 cursor: pointer;
}
.formulario h2{
   font-size: 250px;
   text-align: center;
   font-family: 'Lobster', cursive;
   letter-spacing: 2px;
   margin: 0;
   margin-top: 100px;
}
img{
    width: 30%;
}